page-home {
    .header {
        width:100%;
        background-color: color($colors, primary);
        padding:30px 10px;

        .profilePic {
            width:35%;
            border-radius:100px;
            border:2px color($colors, light) solid;
            margin:0 auto;
            overflow:hidden;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width:100%;
            }
        }

        .profilePic:before {
            content: "";
            display: block;
            padding-top: 100%;  /* ratio of 1:1*/
        }

        table {
            width:100%;
            margin: 0px 0px 20px 0px;
        
            td {
                width:30%;
                position:relative;
                top:0px;
                text-align: center;
                padding:5px;
            }

            .middle {
                width:40%;
                top:20px;
            }
        }
    }

    .medals {
        width: 100%;
        background-color: color($colors, light2);
        overflow: auto;
        white-space: nowrap;

        div {
            background-color: rgba(0, 0, 0, 0);
            width:20%;
            display: inline-block;
            margin:0px -2px;
            font-size:40px;
            text-align: center;
            padding: 10px 0px;

            p {
                margin: 0px;
                padding:0px;
                color:color($colors, dark);
                font-size:10px;
            }
        }

        .notAchieved *{
            opacity: 0.3;
        }
    }

    .startButton {
        width:70%;
        position: absolute;
        bottom:20px;
        left:15%;
        
        button {
            border-radius:10px;
            min-height:40px;
        }
    }
}
