page-affinities {
    .affinities {
        padding:10px 0px;
        text-align: center;

        ion-chip {
            margin-left:7px;
            margin-right:7px;

            ion-label {
                p {
                    margin:0px;
                    padding:0px;
                }
            }
        }

        .selected {
            background-color:color($colors, secondary);
            p {
                color:color($colors, primary);
                font-weight:bold;
            }
        }

        .hiddenLabel {
            opacity: 0;
            font-weight:bold;
        }
    }
}
