page-affinities {
    .affinities {
        padding:10px;
        text-align: center;

        ion-chip {
            margin-left:5px;
            margin-right:5px;
        }
    }

    .selected {
        background-color:color($colors, primary);
        color:white;
    }
}
